{% extends 'base.html' %}

{% block title %}Andrew's Dashboard{% endblock %}

{% block extra_css %}
<style>
    :root {
    --bg-color: #121212;
    --text-color: #f2e3e3;
    --large-container-bg: #393939;
    --large-container-header-bg: #282727;
    --item-bg: #2a2a2a;
    --schedule-item-bg: #252525;
    --recurring-schedule-item-bg: #303030;
    --table-header-bg: #1a1a1a;
    --todo-submitted-color: #476b49;
    --canvas-todo-source-color: #ff5252;
    --gradescope-todo-source-color: #448aff;
    --primary-button-color: #2196f3;
    --secondary-button-color: #64b5f6;
    --link-color: #2196f3;
    --dropdown-background-color: #626161;
    --day-separator-color: #5a5b60;
    --week-separator-color: #83a8c5;
    --time-line: #2196f3;
    --schedule-bg: #535252; /* Lighter background for the schedule area */
    --item-border-color: #e4e4e;
}
    html, body {
        background-color: var(--bg-color);
        margin: 0;
        padding: 0;
        min-height: 100vh;
    }
    .dashboard-container {
        max-width: 1200px;
        background-color: var(--bg-color);
        margin: 0 auto;
        padding: 20px;
        font-family: Arial, sans-serif;
    }
    .dashboard-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    .dashboard-title {
        font-size: 28px;
        color: var(--text-color);
    }
    .dashboard-content {
        display: flex;
        gap: 20px;
    }
    .todo-list {
        flex: 2;
        background-color: var(--large-container-bg);
        border-radius: 8px;
        padding: 20px;
        padding-right:10px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }
    .schedule {
        flex: 1;
        background-color: var(--large-container-bg);
        border-radius: 8px;
        padding: 20px;
        padding-left: 10px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        height: 800px;
        overflow-y: auto;
        position: relative; /* Ensure relative positioning for child elements */
    }
    h2 {
        color: var(--text-color);
        margin-bottom: 15px;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    .todo-item, .schedule-item {
        background-color: var(--item-bg);
        color: var(--text-color);
        border: 1px solid #dee2e6;
        border-radius: 4px;
        padding: 10px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .todo-title, .schedule-title {
        font-weight: bold;
    }
    .todo-due, .schedule-time {
        font-size: 0.9em;
        color: var(--text-color);
    }
    .todo-list a {
    text-decoration: underline;
    color: inherit; /* Keeps the text color the same as the surrounding text */
  }
    .todo-item.submitted {
        background-color: var(--todo-submitted-color); 
    }
    .todo-source {
        font-weight: bold;
        padding: 2px 4px; 
        border-radius: 3px;
    }

    .todo-source-canvas {
        background-color: var(--canvas-todo-source-color);
        color: var(--text-color);
    }

    .todo-source-gradescope {
        background-color: var(--gradescope-todo-source-color);
        color: var(--text-color);
    }

    .todo-title {
        display: inline-block;
        vertical-align: middle;
    }
    .btn {
        padding: 8px 16px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
        transition: background-color 0.3s;
    }
    .btn-primary {
        background-color: #007bff;
        color: var(--text-color);
    }
    .btn-secondary {
        background-color: var(--secondary-button-color);
        color: var(--text-color);
    }
    .btn:hover {
        opacity: 0.9;
    }
    .dropdown-menu {
        display: none;
        position: absolute;
        color:var(--text-color);
        background-color: var(--dropdown-background-color);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 10px;
        border-radius: 4px;
        z-index: 1000;
    }
    .dropdown-menu.active {
        display: block;
    }
    .dropdown-menu input,
    .dropdown-menu select {
        margin-bottom: 10px;
        width: 100%;
        padding: 8px;
        border: 1px solid var(--item-bg);
        border-radius: 4px;
    }

    .schedule h2 {
        position: sticky; /* Use sticky positioning */
        top: 0; /* Stick to the top of its container */
        background-color: var(--large-container-bg); /* Match container background */
        z-index: 10;
        margin-bottom: 10px; /* Add some space below the title */
    }

    .schedule-item {
        position: absolute;
        background-color: var(--schedule-item-bg);
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        padding: 5px;
        text-align: center;
        overflow: hidden; /* Ensures content does not overflow the box */
        white-space: nowrap; /* Prevents text from wrapping to the next line */
        text-overflow: ellipsis; /* Adds ellipsis (...) for overflowing text */
    }

    .day-separator {
        border-bottom: 1px solid var(--day-separator-color); 
        color: var(--text-color);
        margin: 10px 0;
        padding: 5px 0;
        font-weight: normal; /* Keep text weight normal */
    }
    .week-separator {
        border-bottom: 2px solid var(--week-separator-color); /* Bold line for weeks */
        color: var(--text-color);
        margin: 15px 0;
        padding: 10px 0;
        font-weight: bold; /* Make week text bold */
        font-size: 1.2em;
    }

    .schedule-container {
        display: flex;
    }

    .time-scale {
        width: 60px; 
        display: flex;
        flex-direction: column;
    }

    .time-slot {
        height: 24.4px; /* Match each half-hour slot height */
        border-bottom: 1px solid var(--item-bg);
        text-align: right;
        padding-right: 5px;
        font-size: 0.8em;
        }

    .schedule-grid {
        flex: 1;
        position: relative;
        display: grid;
        grid-template-rows: repeat(48, 25px); /* Adjusted for half-hour slots */
        border-left: 1px solid var(--item-border-color);
    }



.schedule-item.recurring {
    background-color: var(--recurring-schedule-item-bg);
}

.schedule-item::before {
  content: none;
}
   
.schedule-event {
    position: relative;
    z-index: 1;
    transition: z-index 0.3s;
}

.schedule-event:hover {
    z-index: 2;
}
.delete-icon {
        cursor: pointer;
        position: absolute;
        right: 5px;
        top: 5px;
        display: none;
    }

.dropdown-menu {
  width: auto;
  min-width: 300px;
  padding: 15px;
}

.dropdown-menu .form-control {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

/* Adjust padding and margins of form elements */
.dropdown-menu .form-group {
  margin-bottom: 10px;
}

.dropdown-menu label {
  display: block;
  margin-bottom: 5px;
}
.close-dropdown-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    color: var(--text-color);
    font-size: 16px;
    cursor: pointer;
}
.close-dropdown-btn:hover {
    color: #ff5252; /* Change color on hover for better visibility */
}

.dashboard-actions {
    display: flex;
    gap: 10px;
    margin-bottom: 10px; /* Add space between sections */
    margin-left: 10px;
}
/* General styles for mobile and desktop */
.dashboard-actions.mobile-only {
    display: none; /* Hide by default */
}

.dashboard-actions.desktop-only {
    display: flex; /* Show by default */
}

.action-buttons {
    margin-top: 10px; /* Space above action buttons */
}

/* Make the dropdown responsive */
@media (max-width: 768px) {
    .dashboard-actions.mobile-only {
        display: flex; /* Show only on small screens */
        gap: 10px;
        flex-direction: column; /* Stack buttons vertically on mobile */
        align-items: flex-start; /* Align buttons to the left */
    }

    .dashboard-actions.desktop-only {
        display: none; /* Hide on small screens */
    }

    .dashboard-content {
        flex-direction: column;
    }

    .todo-list, .schedule {
        width: 100%;
        margin-bottom: 20px;
    }
}

/* Adjust specific inputs if needed */
.dropdown-menu .time-picker,
.dropdown-menu .date-picker {
  width: 100%;
}

.time-input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}


.current-time-line {
        position: absolute;
        flex:1;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--time-line);
        z-index: 1;
    }

.data-source-dropdown {
    margin-left: 10px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid var(--item-bg);
}
.selection-box {
    position: absolute;
    left: 0;
    right: 0;
    background-color: rgba(33, 150, 243, 0.3); /* Semi-transparent blue */
    border: 1px dashed #2196f3; /* Dashed border */
    z-index: 1;
}

</style>
{% endblock %}

{% block content %}
<div class="dashboard-container">
    <div class="dashboard-header">
        <h1 class="dashboard-title">Andrew's Dashboard</h1>
        
        <div class="dashboard-actions mobile-only">
            <button onclick="toggleView('todo')" id='view-todo' class="btn btn-primary">To-Do List</button>
            <button onclick="toggleView('schedule')" id='view-schedule' class="btn btn-secondary">Schedule</button>
        </div>
    
        <!-- Action Buttons -->
        <div class="dashboard-actions mobile-only action-buttons">  
            <button onclick="pullCombinedData()" id='pull-all-data-mobile' class="btn btn-secondary">Pull Data</button>
            <button onclick="sortData()" id="sort-todos" class="btn btn-secondary">Sort by Date</button>
            <button id="refresh-button" class="btn btn-secondary" onclick="refreshData()">Refresh Data</button>
            <button id="add-schedule-button-mobile" class="btn btn-secondary">Add Schedule</button>
        </div>
        
        
        <div class="dashboard-actions desktop-only"> 
            <button onclick="pullCombinedData()" id='pull-all-data-desktop' class="btn btn-primary">Pull Data</button>
            <button onclick="sortData()" id="sort-todos" class="btn btn-secondary">Sort by Date</button>
            <button id="refresh-button" class="btn btn-secondary" onclick="refreshData()">Refresh Data</button>
            <button id="add-schedule-button-desktop" class="btn btn-secondary" onclick="showAddScheduleForm()">Add Schedule</button>
                <div id="schedule-dropdown" class="dropdown-menu p-3" style="width: 300px;">
                    <button type="button" class="close-dropdown-btn" onclick="closeDropdown()">✖</button>
                    <form id="schedule-form">
                        <div class="mb-3">
                            <label for="day" class="form-label">Day</label>
                            <select id="day" name="day" class="form-select" required>
                                <option value="" disabled selected>Select a day</option>
                                <option value="Monday">Monday</option>
                                <option value="Tuesday">Tuesday</option>
                                <option value="Wednesday">Wednesday</option>
                                <option value="Thursday">Thursday</option>
                                <option value="Friday">Friday</option>
                                <option value="Saturday">Saturday</option>
                                <option value="Sunday">Sunday</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="start_time" class="form-label">Start Time</label>
                            <input type="text" id="start_time" name="start_time" class="form-control time-input" placeholder="00:00 AM" required>
                        </div>
                        <div class="mb-3">
                            <label for="end_time" class="form-label">End Time</label>
                            <input type="text" id="end_time" name="end_time" class="form-control time-input" placeholder="00:00 PM" required>
                        </div>
                        <div class="mb-3">
                            <label for="event" class="form-label">Event</label>
                            <input type="text" id="event" name="event" class="form-control" placeholder="Enter event name" required>
                        </div>
                        <div class="mb-3">
                            <label for="location" class="form-label">Location</label>
                            <input type="text" id="location" name="location" class="form-control" placeholder="Enter location">
                        </div>
                        <div class="mb-3 form-check" style="display: flex; align-items: center;">
                            <label for="recurring" class="form-check-label">Recurring</label>
                            <input type="checkbox" id="recurring" name="recurring" class="form-check-input" style="margin-right: 0.5rem;">
                            
                        </div>
                        <button id="submit-schedule" type="submit" class="btn btn-primary w-100">Save</button>
                    </form>
                </div>
        </div>  
    </div>
    <div class="dashboard-content">
        <div class="todo-list">
            <h2>Assignments</h2>
            <form method="GET" id="filter-form">
                <select name="data_source" id="data-source-dropdown" onchange="document.getElementById('filter-form').submit();">
                    <option value="">Select Data Source</option>
                    <option value="sum">All</option>
                    <option value="gradescope">Gradescope</option>
                    <option value="canvas">Canvas</option>
                </select>
            </form>
            <ul id="todo-list">
                {% for todo in todos %}
                <li class="todo-item {% if todo.submitted %}submitted{% endif %}" data-date="{{ todo.due_date|date:'Y-m-d' }}">
                    <span class="todo-title">
                        {{ todo.courseName }}
                    </span>
                    <a href="{{ todo.html_link }}" target="_blank">
                        <span class="todo-title">{{ todo.title }}</span>
                    </a>
                    <span class="todo-due">Due: {{ todo.due_date|default:"No due date"|date:"M d, Y" }}</span>
                    <span class="todo-source {% if todo.source == 'canvas' %}todo-source-canvas{% elif todo.source == 'gradescope' %}todo-source-gradescope{% endif %}">
                        {{ todo.source|upper }}
                    </span>
                </li>
                {% empty %}
                <li>No todos available</li>
                {% endfor %}
            </ul>
        </div>
        <div class="schedule">
            
            <h2>Daily Schedule</h2>
            <div class="schedule-container">
                <div class="time-scale">
                    {% for time in time_slots %}
                        <div class="time-slot">{{ time }}</div>
                    {% endfor %}
                </div>
                <div class="schedule-grid" id="schedule">
                    {% for cls in schedules %}
                        {% if cls.recurring or cls.dateSet >= current_date %}
                            <div class="schedule-item {% if cls.recurring == 'True' or cls.recurring %}recurring{% endif %}" 
                                style="top: calc({{ cls.start_position }} * 30px); height: calc({{ cls.duration }} * 30px);"
                                data-id="{{ cls.id }}" 
                                onclick="handleEventClick(this)">
                                <strong>{{ cls.course }}</strong><br>
                                {{ cls.time }}<br>
                                {{ cls.location }}
                                <span class="delete-icon" style="display:none;" onclick="deleteEvent(event, '{{ cls.id }}')">🗑️</span>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="current-time-line" id="current-time-line"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    
    function toggleView(view) {
    const todoList = document.querySelector('.todo-list');
    const schedule = document.querySelector('.schedule');
    
    // Buttons
    const sortButton = document.getElementById('sort-todos');
    const refreshButton = document.getElementById('refresh-button');
    const addScheduleButton = document.getElementById('add-schedule-button-mobile');
    const pullDataButton = document.getElementById('pull-all-data-mobile');
    
    if (view === 'todo') {
        todoList.style.display = 'block';
        schedule.style.display = 'none';
        
        // Show buttons relevant to the To-Do List
        sortButton.style.display = 'inline-block';
        refreshButton.style.display = 'inline-block';
        pullDataButton.style.display = 'inline-block';
        
        // Hide buttons not relevant to To-Do List
        addScheduleButton.style.display = 'none';
    } else if (view === 'schedule') {
        todoList.style.display = 'none';
        schedule.style.display = 'block';
        
        // Show buttons relevant to the Schedule
        addScheduleButton.style.display = 'inline-block';
        refreshButton.style.display = 'inline-block';
        
        // Hide buttons not relevant to Schedule
        sortButton.style.display = 'none';
        pullDataButton.style.display = 'none';
    }
}

// Set default view to To-Do List on mobile
document.addEventListener('DOMContentLoaded', function() {
    closeDropdown()
    if (window.innerWidth <= 768) {
        toggleView('todo');
    }
});

function closeDropdown() {
    const scheduleDropdown = document.getElementById('schedule-dropdown');
    scheduleDropdown.classList.remove('active');
}

// Schedule Drag Functionality
const scheduleGrid = document.getElementById('schedule');
let isDragging = false;
let dragStartY = 0;
let selectionBox = null;

scheduleGrid.addEventListener('mousedown', (event) => {
    if (event.target.classList.contains('schedule-item')) return; // Ignore if clicking on an existing event
    
    isDragging = true;
    dragStartY = event.offsetY;

    // Create a selection box
    selectionBox = document.createElement('div');
    selectionBox.className = 'selection-box';
    selectionBox.style.top = `${dragStartY}px`;
    scheduleGrid.appendChild(selectionBox);
});

scheduleGrid.addEventListener('mousemove', (event) => {
    if (!isDragging || !selectionBox) return;

    const currentY = event.offsetY;
    const height = Math.abs(currentY - dragStartY);
    
    selectionBox.style.height = `${height}px`;
    selectionBox.style.top = `${Math.min(dragStartY, currentY)}px`;
});

scheduleGrid.addEventListener('mouseup', (event) => {
    if (!isDragging || !selectionBox) return;

    isDragging = false;
    
    const dragEndY = event.offsetY;
    
    // Calculate start and end times based on the drag
    const startTimeIndex = Math.floor(Math.min(dragStartY, dragEndY) / 30);
    const endTimeIndex = Math.ceil(Math.max(dragStartY, dragEndY) / 30);

    const startTime = indexToTime(startTimeIndex);
    const endTime = indexToTime(endTimeIndex);

    // Trigger the add schedule form with pre-filled times
    showAddScheduleForm(startTime, endTime);

    // Remove the selection box
    selectionBox.remove();
});

function indexToTime(index) {
    const totalMinutes = index * 30; // Each index represents a half-hour
    let hours = Math.floor(totalMinutes / 60);
    const minutes = totalMinutes % 60;
    const period = hours >= 12 ? 'PM' : 'AM';

    if (hours === 0) {
        hours = 12; // Midnight case
    } else if (hours > 12) {
        hours -= 12; // Convert to 12-hour format
    }

    const formattedHours = String(hours).padStart(2, '0');
    const formattedMinutes = String(minutes).padStart(2, '0');

    return `${formattedHours}:${formattedMinutes} ${period}`;
}

function showAddScheduleForm(startTime, endTime) {
    const scheduleDropdown = document.getElementById('schedule-dropdown');
    document.getElementById('start_time').value = startTime;
    document.getElementById('end_time').value = endTime;

    // Display the form
    scheduleDropdown.classList.add('active');
}

function showAddScheduleFormBasicMobile() {
    const scheduleDropdown = document.getElementById('schedule-dropdown');
    scheduleDropdown.classList.add('active');
}
function showAddScheduleFormBasicDesktop() {
    const scheduleDropdown = document.getElementById('schedule-dropdown');
    scheduleDropdown.classList.add('active');
}

document.getElementById('add-schedule-button-mobile').addEventListener('click', showAddScheduleFormBasicMobile);
document.getElementById('add-schedule-button-desktop').addEventListener('click', showAddScheduleFormBasicDesktop);

document.getElementById('pull-all-data-desktop').addEventListener('click', pullCombinedData);
document.getElementById('pull-all-data-mobile').addEventListener('click', pullCombinedData);
function pullCombinedData(event) {
    const button = event.currentTarget;
    button.disabled = true;
    button.textContent = 'Updating data...';
    
    fetch('pull-all-data/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
        }
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'success') {
            alert(data.message);
        } else {
            alert('Error: ' + data.message);
        }
    })
    .catch(error => {
        console.error('Error:', error);
        alert('An error occurred while updating data.');
    })
    .finally(() => {
        button.disabled = false;
        button.textContent = 'Update Data';
        sortData()
        refreshData()
    });
}


function handleEventClick(element, event) {
    updateEventLayer(element);
    showDeleteIcon(element);
}

function showDeleteIcon(element) {
    const deleteIcon = element.querySelector('.delete-icon');
    if (deleteIcon) {
        deleteIcon.style.display = 'inline';
        setTimeout(() => {
            deleteIcon.style.display = 'none';
        }, 3000); // Hide after 3 seconds
    } else {
        console.error('Delete icon not found in the element');
    }
}


function deleteEvent(event, eventId) {
    event.stopPropagation(); // Prevent triggering the onclick of the parent div
    console.log("Attempting to delete event with ID:", eventId);
    
    if (!eventId) {
        console.error("Event ID is undefined or empty");
        alert("Cannot delete event: ID is missing");
        return;
    }

    if (confirm('Are you sure you want to delete this event?')) {
        fetch('delete-event/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                'X-CSRFToken': getCookie('csrftoken')
            },
            body: `id=${eventId}`
        })
        .then(response => {
            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }
            return response.json();
        })
        .then(data => {
            if (data.status === 'success') {
                console.log("Event deleted successfully on server");
                const eventElement = document.querySelector(`.schedule-item[data-id="${eventId}"]`);
                if (eventElement) {
                    eventElement.remove();
                    console.log("Event element removed from DOM");
                    refreshData();
                } else {
                    console.error(`Could not find the event element to remove. ID: ${eventId}`);
                }
            } else {
                console.error("Failed to delete event:", data.message);
                alert(`Failed to delete event: ${data.message}`);
            }
        })
        .catch(error => {
            console.error("Error deleting event:", error);
            alert(`An error occurred while deleting the event: ${error.message}`);
        });
    }
}


function updateEventLayer(element) {
    const eventId = element.dataset.id;
    console.log("Updating event layer for ID:", eventId);
    fetch('update_event_layer/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
            'X-CSRFToken': getCookie('csrftoken')
        },
        body: `id=${eventId}`
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'success') {
            console.log("Event layer updated successfully");
            element.parentNode.appendChild(element);
        } else {
            console.error("Failed to update event layer:", data);
        }
    })
    .catch(error => console.error("Error updating event layer:", error));
}

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}


document.addEventListener('DOMContentLoaded', function() {
    const scheduleItems = document.querySelectorAll('.schedule-item');
    
    scheduleItems.forEach(item => {
        const time = item.querySelector('strong + br').nextSibling.textContent.trim(); // Get course time
        const [start, end] = time.split(' - ');
        const [startHour, startMinute] = parseTime(start);
        const [endHour, endMinute] = parseTime(end);

        const startPosition = (startHour * 2) + (startMinute / 30); // Calculate grid position in half-hours
        const height = ((endHour * 60 + endMinute) - (startHour * 60 + startMinute)) / 30; // Duration in half-hour slots

        item.style.top = `${startPosition * 25}px`; // Set top position based on start
        item.style.height = `${height * 25}px`; // Set height based on duration
    });

    updateCurrentTimeLine();
    setInterval(updateCurrentTimeLine, 60000); // Update every minute
});

function parseTime(time) {
    const [hourMinute, modifier] = time.split(' ');
    let [hour, minute] = hourMinute.split(':').map(Number);
    if (modifier === 'PM' && hour !== 12) hour += 12;
    if (modifier === 'AM' && hour === 12) hour = 0;
    return [hour, minute];
}

function updateCurrentTimeLine() {
    const now = new Date();
    const currentTime = now.getHours() * 60 + now.getMinutes();
    const linePosition = currentTime / 30; // Calculate position based on half-hour slots
    
    const currentTimeLine = document.getElementById('current-time-line');
    
    if (currentTimeLine) {
        currentTimeLine.style.top = `${linePosition * 25}px`;
    }
}

document.addEventListener('DOMContentLoaded', function() {
    const scheduleDropdown = document.getElementById('schedule-dropdown');
    const scheduleForm = document.getElementById('schedule-form');

    scheduleForm.addEventListener('submit', function(event) {
        event.preventDefault();
        const formData = new FormData(scheduleForm);
        fetch('/personalwork/add_schedule/', {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: new URLSearchParams(formData)
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                alert('Schedule added successfully!');
                scheduleDropdown.classList.remove('active');
                scheduleForm.reset();
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
});


document.getElementById('pull-canvas').addEventListener('click', function() {
    this.disabled = true;
    this.textContent = 'Pulling data...';
    fetch('/personalwork/pull_canvas/')
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                alert('Canvas data pulled successfully!');
                location.reload();
            } else {
                alert('Failed to pull Canvas data: ' + data.message);
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('An error occurred while pulling Canvas data.');
        })
        .finally(() => {
            this.disabled = false;
            this.textContent = 'Pull Canvas Data';
        });
})


document.getElementById('pull-gradescope').addEventListener('click', function() {
    this.disabled = true;
    this.textContent = 'Pulling data...';
    fetch('/personalwork/pull_gradescope/')
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                alert('Gradescope data pulled successfully!');
                location.reload();
            } else {
                alert('Failed to pull Gradescope data: ' + data.message);
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('An error occurred while pulling Gradescope data.');
        })
        .finally(() => {
            this.disabled = false;
            this.textContent = 'Pull Gradescope Data';
        });
})

function refreshData() {
    location.reload();
}


function sortData() {
    const todoList = document.getElementById('todo-list');
    const todos = Array.from(todoList.children);

    // Sort todos by date
    todos.sort((a, b) => {
        const dateA = new Date(a.dataset.date);
        const dateB = new Date(b.dataset.date);
        return dateA - dateB;
    });

    const today = new Date();
    const currentWeekNumber = getWeekNumber(today);

    todoList.innerHTML = '';

    // Add button to load previous data at the top
    const loadPreviousButton = document.createElement('button');
    loadPreviousButton.textContent = 'Load Previous Weeks';
    loadPreviousButton.className = 'btn btn-secondary';
    loadPreviousButton.onclick = () => loadPreviousWeeks(todos, currentWeekNumber, loadPreviousButton);
    todoList.appendChild(loadPreviousButton);

    let currentDate = null;
    let currentWeek = null;

    // Filter and display only current and upcoming weeks
    todos.forEach(todo => {
        const todoDate = new Date(todo.dataset.date);
        if (!isNaN(todoDate.getTime())) {
            const weekNumber = getWeekNumber(todoDate);

            if (weekNumber >= currentWeekNumber) {
                const formattedDate = todoDate.toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });

                if (currentWeek !== weekNumber) {
                    const weekSeparator = document.createElement('li');
                    weekSeparator.className = 'week-separator';
                    weekSeparator.textContent = `Week of ${todoDate.toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' })}`;
                    todoList.appendChild(weekSeparator);
                    currentWeek = weekNumber;
                }

                if (currentDate !== formattedDate) {
                    const daySeparator = document.createElement('li');
                    daySeparator.className = 'day-separator';
                    daySeparator.textContent = formattedDate;
                    todoList.appendChild(daySeparator);
                    currentDate = formattedDate;
                }

                todoList.appendChild(todo);
            }
        }
    });
}

function loadPreviousWeeks(todos, currentWeekNumber, button) {
    const todoList = document.getElementById('todo-list');

    let previousTodosFragment = document.createDocumentFragment();
    
    let currentDate = null;
    let currentWeek = null;

    todos.forEach(todo => {
        const todoDate = new Date(todo.dataset.date);
        if (!isNaN(todoDate.getTime())) {
            const weekNumber = getWeekNumber(todoDate);

            if (weekNumber < currentWeekNumber) {
                const formattedDate = todoDate.toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });

                if (currentWeek !== weekNumber) {
                    const weekSeparator = document.createElement('li');
                    weekSeparator.className = 'week-separator';
                    weekSeparator.textContent = `Week of ${todoDate.toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' })}`;
                    previousTodosFragment.appendChild(weekSeparator);
                    currentWeek = weekNumber;
                }

                if (currentDate !== formattedDate) {
                    const daySeparator = document.createElement('li');
                    daySeparator.className = 'day-separator';
                    daySeparator.textContent = formattedDate;
                    previousTodosFragment.appendChild(daySeparator);
                    currentDate = formattedDate;
                }

                previousTodosFragment.appendChild(todo);
            }
        }
    });

    // Insert previous todos before the first child (the button)
    todoList.insertBefore(previousTodosFragment, button.nextSibling);

    // Remove the button after loading previous weeks
    button.remove();
}

function getWeekNumber(d) {
    d = new Date(Date.UTC(d.getFullYear(), d.getMonth(), d.getDate()));
    d.setUTCDate(d.getUTCDate() + 4 - (d.getUTCDay() || 7));
    const yearStart = new Date(Date.UTC(d.getUTCFullYear(), 0, 1));
    return Math.ceil((((d - yearStart) / 86400000) + 1) / 7);
}
</script>
{% endblock %}